@charset "UTF-8";
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #24715f;
  --bs-primary-gray: #309880;
  --bs-secondary: #AEB8C7;
  --bs-tertiary: #00bcaf;
  --bs-triple: #F7F7F7;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-grey: #cccccc;
  --bs-rat-star: #06DB16;
  --bs-navy: #012353;
  --bs-navy-gray: #365e8f;
  --bs-green-malachite: #06DB16;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  /* theme - text */
  --bs-text-auth: var(--bs-navy);
  /* theme - button */
  --bs-btn-auth: var(--bs-navy);
  --bs-btn-auth-text: var(--bs-white);
  --bs-btn-auth-border: var(--bs-navy);
  --bs-btn-auth-hover: var(--bs-navy-gray);
  /* theme - a[href] */
  --bs-link-auth: var(--bs-navy);
  --bs-link-auth-hover: var(--bs-green-malachite);
  --bs-link-auth-go-back: var(--bs-navy);
  --bs-link-auth-go-back-hover: var(--bs-green-malachite);
}
